@charset "UTF-8";


body{
    margin: 0px ;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px;

}

header>h1{
    margin: 0px;
    font-size: 300%;
}

header>p{
    margin: 3px;
}
header>p>a{
    color: white;
    text-decoration: none;
}

header>p>a:hover{
    text-decoration: underline;
}

.part1{
    position: relative;

    background-color: rgb(42, 89, 198);

}
.part1>article{
    position: absolute;
    background-color: rgb(255, 0, 0);

    left: 50%;
    top: 50%;
    transform:translate( -95%,70%) ;

}



footer{

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}